<body >
   <div class = "container">
    <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
        <mat-toolbar style="background-color:rgb(240,240,240) ;" >
         
          <span><div style="font-size:28px;padding-left: 10px;">Dashboard</div>
            <caption style="text-align:left;color:rgb(136, 123, 123);padding-left: 10px; font-size:17px;">Sales overview & summary</caption></span>
          <span class="example-spacer"></span>
      
      
          <button style="padding-left:30px ; padding-right: 50px;" aria-label="Example icon-button with a menu" class="rnav">
            <mat-icon>mail</mat-icon>
          </button>
          
          <button style="padding-left:30px ; padding-right: 50px;" aria-label="Example icon-button with a menu" class="rnav">
            <mat-icon>mail</mat-icon>
          </button>
        </mat-toolbar>
      </div>

  <div style="padding-top: 15px;"> 
      <div class="row11">
        <div class="column11" >
          <div class="card11" style="background-color: rgb(57, 57, 245);">
           <p style = "float:left ;"class="title is-1">Title 1</p>
      <p class="subtitle is-3">Subtitle 3</p>
      <p>Some text</p>
      <span>Some text</span>
          </div>
        </div>
      
        <div class="column11">
          <div class="card11"  style="background-color: rgb(214, 214, 9);">
            <h3>Card 2</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
        
        
       
      </div>
      
      
      
      <div class="row11">
        <div class="column11">
          <div class="card11" style="background-color: rgb(108, 28, 184);">
            <h3>Card 1</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
      
        <div class="column11">
          <div class="card11" style="background-color: rgb(9, 143, 148);">
            <h3>Card 2</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
        
        
       
      </div>
    </div>




    <div class="row11">
      <div class="column11" >
        <div class="card12" >
         <p style = "float:left ;"class="title is-1">Title 1</p>
    <p class="subtitle is-3">Subtitle 3</p>
    <p>Some text</p>
    <span>Some text</span>
        </div>
      </div>
    
      <div class="column11">
        <div class="card12"  >
          <h3>Card 2</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
      
      
     
    </div>


    <ngx-charts-bar-vertical-2d
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendTitle]="legendTitle"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-bar-vertical-2d>
    
  </div>   
     
</body>
