.container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 10px;
    
}
.example-spacer {
    flex: 2 2 auto;
  }

  .card {
    margin-bottom: 24px;
  border:none;
    box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  .card-title {
    font-size: .875rem;
    color: #495057;
  }
  
  .card-body h1{
  font-size: 1.75rem;
  font-weight: 400;
    line-height: 1.2;
    color: #000;
  }
  card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  
  .card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #a1aab2;
    margin-top: -0.375rem;
  }
  

  /* Float four columns side by side */
.column11 {
    float: left;
    width: 43%;
    padding: 0 25px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row11 {margin: 0 -5px;
  padding-bottom: 35px}
  
  /* Clear floats after the columns */
  .row11:after {
    content: "";
    display: table;
    clear: both;
  }
  .level{
    padding-right:100px ;
    padding-left:10px;
  }
  /* Responsive columns */
  .column13 {
    float: left;
    width: 56%;
    padding: 0 25px;
  }
  .column12 {
    float: left;
    width: 28%;
    padding: 0 25px;
  }
  .column23 {
    float: left;
    width: 25%;
    padding: 20px;
    
  }
  .column33 {
    float: left;
    width: 40%;
    padding: 10px;
    
  }
  @media screen and (max-width: 600px) {
    .level{
     padding-right:0px ;
      padding-left:10px;
    }
    .container{
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 47px;
      
  }
    .column11 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .column12 {
      float: left;
      padding: 0px;
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding-bottom: 16px;
      
    }
    .column14 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      
    }
    .column13 {
      float: left;
      padding: 0px;
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding-bottom: 16px;
    }
    .column23 {
      width: 100%;
    }
    .column33 {
      width: 100%;
    }
    .graph{
      width: 100px;
      height: 100px;
    }
  }
  
  /* Style the counter cards */
  .card11 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    border-radius: 7px;
    color:white;
  }
  .card12{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    border-radius: 7px;
   background-color: white;
  }
  .card14{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
   background-color: white;
  }
 
 
  
  .column21 {
    float: left;
    width: 40%;
    padding: 20px;
    
  }
  .graph{
    width: 530px;
    height: 350px;
    
  }
  
  .card13{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    padding-bottom: 75px;
    text-align: center;
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: 7px;
   background-color: white;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 18px;
    border: 1px solid #ddd;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  .store{
    width: auto;
    height: 160px;
  }
  .storage{
    width: auto;
    height: 160px;
  }


  .label { border-radius: 50%; font-size: 9px; font-weight: 500; padding: 3px 8px; text-transform: uppercase; }